
html  {
  background: rgb(0, 0, 0);
}

h1 {
  font-family: 'Poppins';
  color: white;
  font-size: 55px;
  font-weight: 400;
  text-align: center;
  line-height: 50px;
  margin-block-start: 0.6em;
  margin-block-end: 1.2em;
  max-width: 391px;
}

.int  {
  color: #ffc7a7;
}

i {
  top: 57px;
}

a {
  color: white;
}

.insta  {
  position: absolute;
  top: 9.5em;
  right: 39%;
}

.email  {
  position: absolute;
  top: 9.5em;
  left: 39%;
}

a:hover {
  color: #ffc7a7;
}

.ik  {
  display: none;
  height: 90px;
  width: 90px;
  position: absolute;
  top: 30px;
  left: 2.5em;
  background: 
   linear-gradient(-45deg, white, #ffe7da, #ffc7a7, #ffa774) border-box;
  border: 3px solid transparent;
  border-radius: 50%;
}

/* Hide Visible Scrollbar */
::-webkit-scrollbar {
  display: none;
}

.copyright  {
  font-family: 'Poppins';
  font-size: 14px;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .ik  {
    display: block;
  }

  h1  {
    margin-block-end: 0.6em;
    line-height: normal;
    max-width: none;
  }
  
  .insta  {
    position: absolute;
    right: 2em;
    left: auto;
    top: 62px;
  }
  
  .email  {
    position: absolute;
    right: 5em;
    left: auto;
    top: 62px;
  }

}